*{
    margin: 0;
}
.blog1{
    background-color: darkcyan;
    padding:10px 10px 10px 10px;
    border-left:7px dotted white;
    border-radius:0 25px 25px 0px;
    text-align: justify;
    margin:15px 10px 0px 10px;
    box-shadow: 0 10px 10px 0px rgb(107, 101, 102);
}
.blog2{
    background-image: url(Image/dogu-tuncer-.jpg);
    padding:10px 10px 10px 10px;
    border-left:7px dotted white;
    border-radius:0 25px 25px 0px;
    text-align: justify;
    margin:0px 10px 0px 10px;
    box-shadow: 0 10px 10px 0px rgb(107, 101, 102);
}

.blog3{
    background-color: rgb(203, 157, 97);
    padding:10px 10px 10px 10px;
    border-left:7px dotted white;
    border-radius:0 25px 25px 0px;
    text-align: justify;
    margin:0px 10px 0px 10px;
    box-shadow: 0 10px 10px 0px rgb(107, 101, 102);
}

.blog4{
    background-color: rgb(198, 133, 141);
    padding:10px 10px 10px 10px;
    border-left:7px dotted white;
    border-radius:0 25px 25px 0px;
    text-align: justify;
    margin:0px 10px 0px 10px;
    box-shadow: 0 10px 15px 0px rgb(107, 101, 102);
}
p{
    text-indent:35px;
    padding-top:-20px;
}
.box-model{
    color:rgb(244, 245, 246);
    background-image: url(Image/gabrielle-.jpg);
    margin:20px 10px 10px 10px;
    padding:10px 0 15px 10px;
    border-left:7px dotted;
    border-radius:0 50px 50px 0px;
    box-shadow: 0 20px 20px 0px rgb(99, 86, 88);
}

